@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1170px;
}
@media (max-width: 75rem) {
  .container {
    width: 950px;
  }
}
@media (max-width: 56.25em) {
  .container {
    width: 700px;
  }
}
@media (max-width: 37.5em) {
  .container {
    width: 375px;
  }
}
@media (max-width: 23.55em) {
  .container {
    width: 300px;
  }
}

.accent-bg {
  background: #a0aec0;
  color: #192127;
  padding: 0 0.5rem;
}

.bold {
  font-weight: 500;
}

.w50 {
  width: 47%;
}
@media (max-width: 37.5em) {
  .w50 {
    width: 100%;
  }
}

.w100 {
  width: 100%;
}

.preloader {
  background: #192127;
  z-index: 3000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader__content {
  color: #a0aec0;
  font-size: 3rem;
}
@media (max-width: 37.5em) {
  .preloader__content {
    font-size: 1.75rem;
  }
}
.preloader__slider {
  background: #2d3748;
  color: #a0aec0;
  z-index: 4000;
  font-size: 2.5rem;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .preloader__slider {
    font-size: 1.75rem;
    text-align: center;
  }
}
.preloader__hide {
  background: #192127;
  overflow: hidden;
}
.preloader__text {
  display: inline-block;
  transform: translateY(100%);
}

.contact {
  background: #192127;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 56.25em) {
  .contact {
    padding: 5rem 0;
  }
}
.contact__container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  z-index: 500;
}
@media (max-width: 75rem) {
  .contact__container {
    width: 90%;
    min-width: auto;
    display: flex;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 56.25em) {
  .contact__container {
    flex-direction: column-reverse;
  }
}
.contact__card {
  position: absolute;
  top: 4rem;
  width: 35rem;
  height: calc(100% - 80px);
  background: #a0aec0;
  z-index: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
@media (max-width: 75rem) {
  .contact__card {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
  }
}
@media (max-width: 56.25em) {
  .contact__card {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
}
@media (max-width: 37.5em) {
  .contact__card {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__card__heading {
  color: #192127;
  font-size: 2rem;
}
.contact__card__list {
  position: relative;
  margin: 2rem 0;
}
.contact__card__list__item {
  position: relative;
  list-style: none;
  display: flex;
  margin: 2rem 0;
  cursor: pointer;
  align-items: flex-start;
}
.contact__card__list__item span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.contact__card__list__item span:nth-child(1) img {
  max-width: 100%;
}
.contact__card__list__item span:nth-child(2) {
  color: #192127;
  margin-left: 1rem;
  font-size: 1.4rem;
}
.contact__card__socials {
  position: relative;
  display: flex;
}
@media (max-width: 56.25em) {
  .contact__card__socials {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 37.5em) {
  .contact__card__socials {
    margin-top: 4rem;
  }
}
.contact__card__socials li {
  list-style: none;
  margin-right: 1.5rem;
}
.contact__form {
  position: absolute;
  padding: 7rem 5rem;
  padding-left: 25rem;
  margin-left: 15rem;
  width: calc(100% - 15rem);
  height: 100%;
  background: #2d3748;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}
@media (max-width: 75rem) {
  .contact__form {
    position: relative;
    width: calc(100% - 35rem);
    padding-left: 0;
    margin-left: 0;
    padding: 4rem;
    height: 55rem;
    box-shadow: none;
  }
}
@media (max-width: 56.25em) {
  .contact__form {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 37.5em) {
  .contact__form {
    padding: 2.5rem;
  }
}
.contact__form__heading {
  color: #a0aec0;
  font-size: 2.4rem;
}
.contact__form__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3.5rem;
}
.contact__form__input {
  position: relative;
  margin-bottom: 4rem;
}
.contact__form__input input,
.contact__form__input textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  background: #2d3748;
  color: white;
  border: none;
  outline: none;
  border-bottom: 2px solid #a0aec0;
}
.contact__form__input input:focus ~ span, .contact__form__input input:valid ~ span,
.contact__form__input textarea:focus ~ span,
.contact__form__input textarea:valid ~ span {
  transform: translateY(-2.5rem);
  font-size: 1.2rem;
}
.contact__form__input textarea {
  height: 120px;
  font-size: 2.4rem;
}
.contact__form__input span {
  color: white;
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-weight: 300;
  transition: 0.3s;
}
.contact__form__button input {
  position: relative;
  cursor: pointer;
  background: #a0aec0;
  color: #192127;
  border: none;
  max-width: 15rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.contact__form__button input:hover {
  filter: brightness(1.1);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 4rem;
  background: #2d3748;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  transition: opacity 0.4s;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #a0aec0;
  text-decoration: none;
  text-transform: uppercase;
  z-index: -100;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #a0aec0 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  z-index: 1999;
  width: 100%;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 3rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.hero {
  background: #192127;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__content {
  padding: 0rem 1.5rem;
  margin: 0 auto;
  width: 1170px;
}
@media (max-width: 75rem) {
  .hero__content {
    width: 950px;
  }
}
@media (max-width: 56.25em) {
  .hero__content {
    width: 700px;
  }
}
@media (max-width: 37.5em) {
  .hero__content {
    width: 400px;
    padding: 10rem 2rem;
  }
}
.hero__content__greeting {
  color: #a0aec0;
  font-size: 2rem;
}
@media (max-width: 75rem) {
  .hero__content__greeting {
    font-size: 2.5rem;
  }
}
@media (max-width: 56.25em) {
  .hero__content__greeting {
    font-size: 2rem;
  }
}
.hero__content__name {
  font-size: 7.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}
@media (max-width: 56.25em) {
  .hero__content__name {
    font-size: 6.5rem;
  }
}
@media (max-width: 37.5em) {
  .hero__content__name {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
}
.hero__content__headline {
  color: #a0aec0;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
@media (max-width: 56.25em) {
  .hero__content__headline {
    font-size: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .hero__content__headline {
    font-size: 2.75em;
    margin-top: 0;
    line-height: 1.2;
  }
}
.hero__content__about {
  color: #a0aec0;
  font-size: 1.75rem;
  width: 50%;
  margin-bottom: 5rem;
}
@media (max-width: 75rem) {
  .hero__content__about {
    font-size: 2.5rem;
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .hero__content__about {
    width: 70%;
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .hero__content__about {
    width: 85%;
  }
}
.hero__content__button {
  cursor: pointer;
  background: transparent;
  margin-right: 2rem;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  background: #2d3748;
  outline: none;
  color: white;
  border-radius: 5px;
  border: 2px solid #2d3748;
  margin-bottom: 1.5rem;
}
@media (max-width: 75rem) {
  .hero__content__button {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .hero__content__button {
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
  }
}
.hero__content__button:hover {
  filter: brightness(1.1);
}
.hero__content__button--outlined {
  cursor: pointer;
  margin-right: 2rem;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  background: #192127;
  outline: none;
  color: white;
  border-radius: 5px;
  border: 2px solid #a0aec0;
}
@media (max-width: 75rem) {
  .hero__content__button--outlined {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .hero__content__button--outlined {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
}
.hero__content__button--outlined:hover {
  filter: brightness(1.2);
}
.hero__socials {
  width: 40px;
  position: absolute;
  bottom: 0px;
  left: auto;
  right: 6rem;
  z-index: 10;
  color: #a0aec0;
}
@media (max-width: 37.5em) {
  .hero__socials {
    display: none;
  }
}
.hero__socials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__socials__content a {
  color: #a0aec0;
  text-decoration: none;
  margin: 20px auto;
  font-size: 1.4rem;
  padding: 10px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}
.hero__socials__content::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background: #a0aec0;
}

.about {
  background: #0e141b;
  padding: 8rem 0;
}
@media (max-width: 37.5em) {
  .about {
    padding: 5rem 2rem;
  }
}
.about__content {
  display: flex;
  flex-wrap: wrap;
}
.about__content__icons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem 0 0;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .about__content__icons {
    width: 100%;
    order: 2;
    padding: 0 2rem;
  }
}
@media (max-width: 23.55em) {
  .about__content__icons {
    width: 100%;
    order: 2;
    padding: 0;
  }
}
.about__content__icons__icon {
  color: #a0aec0;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
@media (max-width: 37.5em) {
  .about__content__icons__icon {
    font-size: 3rem;
    margin: 1.5rem;
  }
}
.about__content__icons__icon p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
.about__content__text {
  width: 50%;
}
@media (max-width: 37.5em) {
  .about__content__text {
    width: calc(100% - 2rem);
    order: 1;
    margin-bottom: 2rem;
  }
}
.about__content__text__heading {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.about__content__text__paragraph {
  color: #a0aec0;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.about__content__text__skill {
  color: #a0aec0;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
@media (max-width: 37.5em) {
  .about__content__text__skill {
    margin-bottom: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
