@use '../abstracts' as *;

.container {
  margin: 0 auto;
  width: 1170px;

  @include responsive(tablet-landscape) {
    width: 950px;
  }

  @include responsive(tablet-portrait) {
    width: 700px;
  }

  @include responsive(phone) {
    width: 375px;
  }

  @include responsive(small) {
    width: 300px;
  }
}

.accent-bg {
  background: $accent-primary;
  color: $background-primary;
  padding: 0 0.5rem;
}

.bold {
  font-weight: 500;
}

.w50 {
  width: 47%;

  @include responsive(phone) {
    width: 100%;
  }
}

.w100 {
  width: 100%;
}
