@use '../abstracts' as *;

.hero {
  background: $background-primary;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__content {
    padding: 0rem 1.5rem;
    margin: 0 auto;
    width: 1170px;

    @include responsive(tablet-landscape) {
      width: 950px;
    }

    @include responsive(tablet-portrait) {
      width: 700px;
    }

    @include responsive(phone) {
      width: 400px;
      padding: 10rem 2rem;
    }

    &__greeting {
      color: $accent-primary;
      font-size: 2rem;

      @include responsive(tablet-landscape) {
        font-size: 2.5rem;
      }

      @include responsive(tablet-portrait) {
        font-size: 2rem;
      }
    }

    &__name {
      font-size: 7.5rem;
      font-weight: 700;
      color: white;
      margin-bottom: 0;

      @include responsive(tablet-portrait) {
        font-size: 6.5rem;
      }

      @include responsive(phone) {
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
      }
    }

    &__headline {
      color: $accent-primary;
      font-size: 6rem;
      font-weight: 700;
      margin-bottom: 2rem;
      margin-top: -1rem;

      @include responsive(tablet-portrait) {
        font-size: 4.5rem;
      }

      @include responsive(phone) {
        font-size: 2.75em;
        margin-top: 0;
        line-height: 1.2;
      }
    }

    &__about {
      color: $accent-primary;
      font-size: 1.75rem;
      width: 50%;
      margin-bottom: 5rem;

      @include responsive(tablet-landscape) {
        font-size: 2.5rem;
        width: 65%;
      }

      @include responsive(tablet-portrait) {
        width: 70%;
        font-size: 2rem;
      }

      @include responsive(phone) {
        width: 85%;
      }
    }

    &__button {
      cursor: pointer;
      background: transparent;
      margin-right: 2rem;
      padding: 1.6rem 3.2rem;
      font-size: 1.6rem;
      background: $background-secondary;
      outline: none;
      color: white;
      border-radius: 5px;
      border: 2px solid $background-secondary;
      margin-bottom: 1.5rem;

      @include responsive(tablet-landscape) {
        font-size: 2rem;
      }

      @include responsive(phone) {
        padding: 1rem 2rem;
        margin-right: 1.5rem;
        font-size: 1.6rem;
      }

      &:hover {
        filter: brightness(1.1);
      }

      &--outlined {
        cursor: pointer;
        margin-right: 2rem;
        padding: 1.6rem 3.2rem;
        font-size: 1.6rem;
        background: $background-primary;
        outline: none;
        color: white;
        border-radius: 5px;
        border: 2px solid $accent-primary;

        @include responsive(tablet-landscape) {
          font-size: 2rem;
        }

        @include responsive(phone) {
          padding: 1rem 2rem;
          font-size: 1.6rem;
        }

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }

  &__socials {
    width: 40px;
    position: absolute;
    bottom: 0px;
    left: auto;
    right: 6rem;
    z-index: 10;
    color: $accent-primary;

    @include responsive(phone) {
      display: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      a {
        color: $accent-primary;
        text-decoration: none;
        margin: 20px auto;
        font-size: 1.4rem;
        padding: 10px;
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto;
        background: $accent-primary;
      }
    }
  }
}

.about {
  background: #0e141b;
  padding: 8rem 0;

  @include responsive(phone) {
    padding: 5rem 2rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    &__icons {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4rem 0 0;
      justify-content: center;

      @include responsive(phone) {
        width: 100%;
        order: 2;
        padding: 0 2rem;
      }

      @include responsive(small) {
        width: 100%;
        order: 2;
        padding: 0;
      }

      &__icon {
        color: $accent-primary;
        font-size: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;

        @include responsive(phone) {
          font-size: 3rem;
          margin: 1.5rem;
        }

        p {
          font-size: 1.2rem;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }

    &__text {
      width: 50%;

      @include responsive(phone) {
        width: calc(100% - 2rem);
        order: 1;
        margin-bottom: 2rem;
      }

      &__heading {
        color: white;
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }

      &__paragraph {
        color: $accent-primary;
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      &__skill {
        color: $accent-primary;
        font-size: 1.8rem;
        margin-bottom: 1rem;

        @include responsive(phone) {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
